html {
	font-size: 16px;
}

html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	width: 100vw;
	height: 80vh;
	margin: 10vh 0;
	position: relative;
}

.headerTitle {
	font-size: 2.5rem;
	text-align: center;
	color: darksalmon;
	margin-bottom: 5px;
}

.carousel {
	width: 100%;
	height: 70%;
	display: flex;
	overflow: hidden;
	background-color: black;
}

.slideContainer {
	height: 100%;
	width: 100%;
	flex: 1 0 100%;
}

.slide {
	width: 100%;
	height: calc(95% - 60px);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.slideTitle, .slideMessage {
	text-align: center;
	color: darkgrey;
}

.slideTitle {
	font-size: 2rem;
	font-style: italic;
}
.slideMessage {
	font-size: 1.2rem;
}

.filmStrip {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 1vh;
}

.thumbnail {
	height: 40px;
	width: 40px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	opacity: 0.5;
}

.thumbnail:hover {
	opacity: 1;
	cursor: pointer;
}

.active {
	opacity: 1;
}

.direction {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
}

.left, .right {
	position: absolute;
	top: 39%;
	background-color: rgba(255,255,255,0.85);
}

.left {
	left: 1%;
}

.right {
	right: 1%;
}

.left i, .right i {
	font-size: 3rem;
	color: #aeaeae;
}

.left i {
	transform: translateX(-3px);
}

.right i {
	transform: translateX(3px);
}

.left i:hover, .right i:hover {
	color: black;
}

@media only screen and (max-width: 768px) {
	html {
		font-size: 12px;
	}
	.headerTitle {
		font-size: 3rem;
	}
	.left i,
	.right i {
		font-size: 4rem;
	}
}

@media only screen and (max-width: 350px) {
	.thumbnail {
		height: 30px;
		width: 30px;
	}
}